* {
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 400;
    line-height: 1.63;
    font-size: 16px;
}

h1,
h2,
h3 {
    text-align: center;
    color: #818181;
    margin: 0;
    font-weight: 200;
}

h2 {
    text-align: left;
    border-bottom: 4px dotted;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

h2:first-child {
    margin-top: 0;
}

h3 {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid;
    color: #b4b4b4;
}

.sidewidget {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid;
    color: #c63639;
    margin-top: 2em;
}

.sidewidget a {
    display: block;
    color: #c63639;
    margin-top: 1em;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.leftside {
    max-width: 60vw;
    width: 30vw;
    padding: 2em;
}

.lightpart {
    border-radius: 0 2em 2em;
    padding: 2em;
    margin: 2em;
    background: #eeeeee;
    color: #1f1f1f;
}

.avatar {
    width: 100%;
    max-width: 30vw;
    margin-bottom: 2em;
}

.slogan {
    width: 100%;
    max-width: 100%;
    margin-top: 2em;
}

.field>.label {
    text-transform: uppercase;
    font-weight: 200;
    font-size: .8em;
    margin-right: 1em;
    width: 20%;
}

.field>.data {
    flex-grow: 1;
    width: 80%;
}

.label:after {
    /* content: ':'; */
}

.field {
    display: flex;
    margin-bottom: 0.5em;
}

.flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-grid .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-grid-thirds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-grid-thirds .col {
    width: 32%;
}

@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
    }
    .flex-grid .col,
    .flex-grid-thirds .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.flex-grid {
    margin: 0 0 20px 0;
}

.flex-grid>.col {}

.flex-grid>.col>.caption {
    color: #c63639;
    font-weight: 600;
}

.list-details {
    font-size: 0.8em;
}

.list-details>span {
    display: inline-block;
    margin-left: .2em;
    padding: .1em .3em;
    border-radius: .3em;
    background: rgba(0, 0, 0, .2);
}

.hidden {
    display: none;
}

article {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.projects-list {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
}

.projects-list .project-item {
    flex: 1 200px;
    margin: 1%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.projects-list .project-item .caption {
    color: #c63639;
    font-weight: 600;
    text-align: center;
    padding: 0.5em .5em 0;
}

.projects-list .project-item .caption a {
    text-decoration: none;
    color: #c63639;
}

.projects-list .project-item .caption a:hover {
    text-decoration: underline;
}

.projects-list .project-item .tech {}

.projects-list .project-item .tech .tech-item {
    display: inline-block;
    margin-left: .2em;
    padding: .1em .3em;
    border-radius: .3em;
    background-color: #c63639;
    color: #fff;
}

.projects-list .project-item .description,
.projects-list .project-item .extra {
    font-size: 0.8em;
    padding: 0.5em .8em .2em;
}

.projects-list .project-item .extra {
    color: #999;
    border-top: 1px solid #ccc;
}

.projects-list .project-item .img-container img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}

.menu {
    padding: 0 2em;
    margin: 2em 0 0;
}

.menu .menu-item {
    padding: 0.4em 1.6em;
    background: #c63639;
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
    border-radius: 0.4em;
    opacity: 0.6;
    font-size: 0.9em;
}

.menu .menu-item:hover {
    opacity: 1;
}